<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mohammed Rizvi Portfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
  <link href='https://cdnjs.cloudflare.com/ajax/libs/devicons/1.8.0/css/devicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link href='https://fonts.googleapis.com/css?family=Signika:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="wrapper">
  <!-- <header role="header">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse" role="button">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">Devero</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right js-nav">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#folio">Folio</a></li>
            <li><a href="#testimonials">Testimonials</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="http://alexsblog.org" target="_blank">Blog <i class="fa fa-external-link"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header> -->
  <section id="home" class="sec-main">
    <h1 class="main-heading">Mohammed Rizvi's Portfolio</h1>
  </section>
  <section id="about" class="sec-about about_folio">
    <div class="container sec-about">
      <h1>About me</h1>
      <hr / class="about_folio">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <p>Hi, my name is Mohammed Rizvi and I am a Web Developer based in New Jersey. I’m an aspiring full stack web developer and designer making a career change from high school history teacher to programmer. As a teacher I spent a lot of time integrating mobile apps, websites, and other technologies into my lessons, and I became interested in how apps and websites were designed and wanted to take part in their development. In my new career I plan to build aesthetically-pleasing websites and mobile apps that incorporate technology into education and help improve classroom learning.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="services" class="sec-services">
    <div class="container">
      <h1>Skills</h1>
      <hr />
      <div class="row">
        <div class="col-sm-3">
          <i class="devicon-html5-plain fa-5x"></i>
          <h2>HTML5</h2>
        </div>
        <div class="col-sm-3">
          <i class="devicon-css3-plain fa-5x"></i>
          <h2>CSS3</h2>
        </div>
        <div class="col-sm-3">
          <i class="devicon-bootstrap-plain fa-5x"></i>
          <h2>Bootstrap</h2>
        </div>
        <div class="col-sm-3">
          <i class="devicons devicons-materializecss fa-5x"></i>
          <h2>MaterializeCSS</h2>
        </div>
        <div class="col-sm-3">
          <i class="devicon-javascript-plain fa-5x"></i>
          <h2>JavaScript</h2>
        </div>
        <div class="col-sm-3">
          <i class="devicon-jquery-plain-wordmark fa-5x"></i>
          <h2>JQuery</h2>
        </div>
        <div class="col-sm-3">
          <i class="devicon-nodejs-plain fa-5x"></i>
          <h2>Node.js</h2>
        </div>
        <div class="col-sm-3">
          <i class="devicon-angularjs-plain fa-5x"></i>
          <h2>Angular.js</h2>
        </div>
        <div class="col-sm-3">
          <i class="devicon-mysql-plain fa-5x"></i>
          <h2>MySQL</h2>
        </div>
        <div class="col-sm-3">
          <i class="devicon-mongodb-plain-wordmark fa-5x"></i>
          <h2>MongoDB</h2>
        </div>
         <div class="col-sm-3">
          <i class="devicon-git-plain fa-5x"></i>
          <h2>Git</h2>
        </div>
        <div class="col-sm-3">
          <i class="devicon-github-plain fa-5x"></i>
          <h2>Github</h2>
        </div>
         <div class="col-sm-3">
          <i class="devicon-heroku-original fa-5x"></i>
          <h2>Heroku</h2>
        </div>
        <div class="col-sm-3">
          <i class="devicon-trello-plain fa-5x"></i>
          <h2>Trello</h2>
        </div>
      </div>
    </div>
  </section>
  <section id="folio" class="sec-folio about_folio">
    <div class="container">
      <h1>My Projects</h1>
      <hr / class="about_folio">
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
            <a href="http://toneanalyzer.herokuapp.com" target="_blank"><img src="img/tone.png" alt="Tone Analyzer"></a>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
              <a href="http://gymtrition.herokuapp.com" target="_blank"><img src="img/gym.png" Demo alt="Gymtrition"></a>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
              <a href="http://infinite-scrubland-9460.herokuapp.com/#" target="_blank"><img src="img/rps.png" alt="Rock, Paper, Scissors"></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
            <a href="http://secure-hamlet-1638.herokuapp.com/" target="_blank"><img src="img/hotel.png" alt="Hotel Travel"></a>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
              <a href="http://powerful-forest-7848.herokuapp.com/" target="_blank"><img src="img/todo.png" alt="To Do List"></a>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
              <a href="http://aqueous-reef-9085.herokuapp.com/" target="_blank"><img src="img/click.png" alt="NBA Click Game"></a>
            </div>
          </div>
        </div>
      </div>
  </section>
  <section id="testimonials" class="sec-testimonials">
    <div class="container">
     <h1>Contact Me</h1>
      <hr />
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
          <form class="center-block" action="#" method="post">
            <div class="form-group">
              <label class="sr-only" for="inputName">Full name</label>
              <input id="inputName" class="form-control tone_textarea" type="text" placeholder="Name" required />
            </div>
            <div class="form-group">
              <label for="inputMail" class="sr-only">Email Address</label>
              <input id="inputMail" class="form-control tone_textarea" type="email" placeholder="Email" required />
            </div>
            <div class="form-group">
              <label for="inputMessage" class="sr-only">Your Message</label>
              <textarea id="inputMessage" class="form-control tone_textarea" name="message" placeholder="Message" cols="30" rows="8" required></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-default center-block" type="submit" value="Hire me">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <footer id="footer">
    <div class="container">
      <ul class="soc-media-ul">
        <li><a href="https://github.com/moriz23/" class="fa fa-2x fa-github" target="_blank"></a></li>
        <li><a href="https://www.linkedin.com/in/morizvi03" class="fa fa-2x fa-linkedin" target="_blank"></a></li>
        <li><a href="http://stackoverflow.com/users/4980341/morizvi23" class="fa fa-2x fa-stack-overflow" target="_blank"></a></li>
        <li><a href="https://soundcloud.com/empr_beats" class="fa fa-2x fa-soundcloud"></a></li>
      </ul>
    </div>
  </footer>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="script.js"></script> 
</body>
</html>