
body {
  font-family: 'Signika', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.navbar a, .sec-about p {
  text-align: center;
}

.sec-about {
  background: black;
}

.navbar a {
  font-size: 16px;
}

.navbar .fa-external-link {
  font-size: 10px;
}

.container > h1 {
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.sec-services h2, .sec-services p {
  text-align: center;
  padding-left: 40px;
}

.sec-testimonials p {
  font-style: italic;
}

.sec-contact .btn {
  text-transform: uppercase;
}

.soc-media-ul a {
  text-align: center;
  text-decoration: none;
}

section {
  padding: 5em 0;
}

footer {
  padding: 3em 0;
}

form {
  @media screen and (max-width: 768px) and (min-width: 485px) {max-width: 70%;}
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  @extend %transition;
}

hr {
  margin-bottom: 3em;
  width: 7%;
}

.sec-folio {
  background: black;
}
.sec-folio .row {
  margin-bottom: 3em;
}

.navbar-default {
  background: #fff;
}

.navbar .fa-external-link {
  vertical-align: top;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: $red;
}
.navbar-default .navbar-nav>li>a:active {
  color: darken($red, 5%);
}
/*Main*/
/*#home {
  padding-left: 0;
  padding-right: 0;
  background-image: url(http://cdn.playbuzz.com/cdn/c2718b91-e81f-46b5-8bb6-bb5f17a0c2e2/6144338a-2124-420c-87f0-161b1960a7de.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center center;
  text-align: center;
  height: 722px;
}

.full {
  background-color: rgba(67,58,59,0.6);
  display: table-cell;
  vertical-align: middle;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 100px;
  height: 722px;
}

.text-center {
  margin-top: 20px;
}*/

.sec-main {
  position: relative;
  height: 560px;
  background: url(http://cdn.playbuzz.com/cdn/c2718b91-e81f-46b5-8bb6-bb5f17a0c2e2/6144338a-2124-420c-87f0-161b1960a7de.jpg) no-repeat center center;
  background-size: cover;
  height: 722px;
}

.main-heading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 0;
  margin: auto;
  height: 40px; 
  color: #fff;
  font-family: 'Signika', sans-serif;
  font-weight: 700;
  text-align: center;
  letter-spacing: 9px;
  text-transform: uppercase;
  font-size: 70px;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
}
/*About*/

/*Services*/
.sec-services {
  background: #BCB219;
}
.sec-services i {
  display: block;
  margin: auto;
  width: 45px;
}
.sec-services .fa-paint-brush {
  width: 64px;
}
.sec-services .fa-code {
  width: 68px
}
.sec-services h2 {
  margin: 1em 0;
}
/*Testimonials*/
.sec-testimonials {
  background: #BCB219;
}
.about_folio {
  color: #BCB219;
  border-top: 3px solid #BCB219;
}

#services hr {
  border-top: 3px solid #333;
}

#testimonials hr {
  border-top: 3px solid #333;
}
.tone_textarea, .tone_textarea:focus {
  border-radius: 0px !important;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.32);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.32);
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.32);
  font-size: 15px;
}
.project_link {
   position: absolute; 
   top: 60px; 
   left: 190px; 
   width: 100%; 
   opacity: 0;
   opacity: 0;
   -webkit-transition: opacity 0.5s;
   -moz-transition: opacity 0.5s;
   -o-transition: opacity 0.5s;
}

.thumbnail:hover > .project_link {
  opacity: 1;
}

.thumbnail {
  border: 1px solid #BCB219 !important;
  background-color: #BCB219;
  cursor: pointer;
}

img {
 -webkit-transition: opacity 1s;
 -moz-transition: opacity 1s;
 -o-transition: opacity 1s;
}

img:hover {
  background-color: #BCB219;
  opacity: 0.7;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
}

img {
  height: 200px;
}

footer {
  background: #000;
}
.soc-media-ul {
  display: flex;
  justify-content: center;
}
.soc-media-ul li:not(:first-child) a {margin-left: 1em;}
.soc-media-ul a {
  padding: 0.35em 0;
  width: 1.85em;
  color: #fff;
  border-radius: 50%;
  border: 2px solid;
}