
body {
  font-family: 'Signika', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.navbar-default {
  background: #000 !important;
  border-color: none !important;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand:hover {
  color: #BCB219;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.navbar-default .navbar-brand:focus {
  color: #fff;
}

.navbar a {
  text-align: center;
  color: #fff;
}

.sec-about p {
  text-align: justify;
}

.sec-about {
  background: black;
}

.navbar a {
  font-size: 16px;
}

.navbar .fa-external-link {
  font-size: 10px;
}

.container > h1 {
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.sec-skills h2, .sec-skills p {
  text-align: center;
  padding-left: 40px;
}

.sec-contact p {
  font-style: italic;
}

.sec-contact .btn {
  text-transform: uppercase;
}

.soc-media-ul a {
  text-align: center;
  text-decoration: none;
}

section {
  padding: 5em 0;
}

footer {
  padding: 3em 0;
}

form {
  @media screen and (max-width: 768px) and (min-width: 485px) {max-width: 70%;}
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

hr {
  margin-bottom: 3em;
  width: 7%;
}

.sec-folio {
  background: black;
}
.sec-folio .row {
  margin-bottom: 3em;
}

.navbar .fa-external-link {
  vertical-align: top;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #BCB219;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.navbar-default .navbar-nav>li>a:active {
  color: #BCB219
}

.sec-main {
  position: relative;
  height: 560px;
  background: url(http://cdn.playbuzz.com/cdn/c2718b91-e81f-46b5-8bb6-bb5f17a0c2e2/6144338a-2124-420c-87f0-161b1960a7de.jpg) no-repeat center center;
  background-size: cover;
  height: 722px;
}

.main-heading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 0;
  margin: auto;
  height: 40px; 
  color: #fff;
  font-family: 'Signika', sans-serif;
  font-weight: 700;
  text-align: center;
  letter-spacing: 9px;
  text-transform: uppercase;
  font-size: 70px;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
}

.sec-skills {
  background: #BCB219;
}
.sec-skills i {
  display: block;
  margin: auto;
  width: 45px;
}
.sec-skills .fa-paint-brush {
  width: 64px;
}
.sec-skills .fa-code {
  width: 68px
}
.sec-skills h2 {
  margin: 1em 0;
}

.sec-contact {
  background: #BCB219;
}
.about_folio {
  color: #BCB219;
  border-top: 3px solid #BCB219;
}

#skills hr {
  border-top: 3px solid #333;
}

#contact hr {
  border-top: 3px solid #333;
}
.tone_textarea, .tone_textarea:focus {
  border-radius: 0px !important;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.32);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.32);
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.32);
  font-size: 15px;
}
.project_link {
   position: absolute; 
   top: 60px; 
   left: 190px; 
   width: 100%; 
   opacity: 0;
   opacity: 0;
   -webkit-transition: opacity 0.5s;
   -moz-transition: opacity 0.5s;
   -o-transition: opacity 0.5s;
}

.thumbnail:hover > .project_link {
  opacity: 1;
}

.thumbnail {
  border: 1px solid #BCB219 !important;
  background-color: #BCB219;
  cursor: pointer;
}

img {
 -webkit-transition: opacity 1s;
 -moz-transition: opacity 1s;
 -o-transition: opacity 1s;
}

a img:hover {
  background-color: #BCB219;
  opacity: 0.7;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
}

a img {
  height: 200px;
}

.profile {
  height: 300px;
  border: 5px solid #BCB219 !important;
}

footer {
  background: #000;
}

footer a:hover {
  color: #BCB219;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.soc-media-ul {
  display: flex;
  justify-content: center;
}

.soc-media-ul li:not(:first-child) a {margin-left: 1em;}
.soc-media-ul a {
  padding: 0.35em 0;
  width: 1.85em;
  color: #fff;
  border-radius: 50%;
  border: 2px solid;
}